type hal_light_davinci, coredomain, domain;
hal_server_domain(hal_light_davinci, hal_light)

type hal_light_davinci_exec, exec_type, file_type;
init_daemon_domain(hal_light_davinci)

allow hal_light_davinci sysfs_white_led:file rw_file_perms;
allow hal_light_davinci sysfs_white_led:dir search;
