on property:ro.boot.hwc=GLOBAL
    enable vendor.nfc_hal_service

on property:ro.boot.hwc=CN
    enable vendor.nfc_hal_service
    setprop bluetooth.device.default_name "Redmi K20"

on property:ro.boot.hwc=INDIA
    setprop bluetooth.device.default_name "Redmi K20"

on property:ro.boot.hwversion=*
    setprop ro.boot.hardware.revision ${ro.boot.hwversion}

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service
    override
    class hal
    user nfc
    group nfc
    writepid /dev/cpuset/system-background/tasks
    disabled
