on init
    chown system camera /dev/drv8846_dev
    chown system camera /dev/akm09970
    chmod 0660 /dev/drv8846_dev
    chmod 0660 /dev/akm09970

service vendor.motor /vendor/bin/hw/vendor.xiaomi.hardware.motor@1.0-service
    class hal
    user system
    group system
    writepid /dev/cpuset/system-background/tasks
